<nav class="navbar navbar-expand-lg navbar-light  bg-primary">
    <a class="navbar-brand text-light" [routerLink]="['/inicio']" >Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" [routerLink]="['/inicio']">Home <span class="sr-only">(current)</span></a>
        </li>
       
       
       
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <select class="form-control" (change)="detectarCambiosEnCategoria()" [(ngModel)]="categoriaSeleccionada">
         <!--<option disabled selected value> -- Elije una opcion-- </option> --> 
          <option *ngFor="let categoria of this.categoriaArticulo" [value]="categoria">
            {{categoria}}
          </option>
        </select>
        <span class="text-light">Buscar por Categoria</span>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="parametroDeBuscqueda" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-success my-2 my-sm-0" (click)="buscarNoticias()"  type="submit">Buscar</button>
      </div>
      
    </div>
  </nav>
