<br>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="verificarImagen(Datos.urlToImage)" (click)="verNoticia(Datos.url)" style="cursor:pointer" alt="Card image cap">
    <div class="card-body">
      <h5>{{fecha | date:'short'}}</h5>
      <h5 class="card-title" (click)="verNoticia(Datos.url)" style="cursor:pointer">{{Datos.title}}</h5>
      <p class="card-text">{{Datos.description}}</p>
      <button (click)="verNoticia(Datos.url)" class="btn btn-primary">Ver la noticia</button>
      <p class="card-text">Autor: {{Datos.author}}</p>
    </div>
  </div>